:root {

}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    font-family: 'Inter', sans-serif;
    
   
}

li {
    list-style-type: none;
}

h3, p {
    margin: 0;
}

.gradient {
    width: 1280px;
    
    
        margin: 0 auto;
    background-color: #000000;
        background: linear-gradient(228.52deg, rgba(111, 102, 102, 0.9) 1.71%, rgba(0, 0, 0, 0.9) 39.77%, rgba(0, 0, 0, 0.9) 44.21%);
}
.container {
    width: 1280px;
    
    
    margin: 0 auto;
}

/* ---------------------------header-------------------------- */
.header-container {
    display: flex;
    align-items: center;
    /* width: 1280px;
    padding-left: 85px; */
    padding-left: 85px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
   
    margin-right: 16px;
    
}

.logo-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(243, 243, 243, 1);
        text-decoration: none;
        display: flex;
        align-items: center;
}


.list {
    display: flex;
    list-style: none;
    gap: 52px;
    margin-left: 235px;
    margin-right: 210px;
    padding-left: 0;
}

.nav-link {
    
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(243, 243, 243, 1);
        text-decoration: none;
}

.botton-header {
    color: rgba(243, 243, 243, 1);
    border: 1px solid rgba(243, 243, 243, 1);
    width: 160px;
    height: 40px; 
    top: 20px; 
    left: 1035px; 
    padding: 10px 33px 10px 34px; 
    border-radius: 16px; 
    cursor: pointer;
}
/* ---------------------------header-------------------------- */
/* ---------------------------sector1-------------------------- */
.block-one {
    /* width: 1280px; 
    height: 720px;  */
    padding-top: 35px;
    padding-left: 85px;
}

.title-block-one {
    font-family: 'Montserrat', sans-serif;
        font-size: 64px;
        font-weight: 500;
        line-height: 78px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(243, 243, 243, 1);
        margin-left: 12px;
}

.div-zero-block-one {
    display: flex;
    align-items: center;
}

.div-one-block-one {
    display: block;
    width: 447px;

    
}

.div-two-block-one {
    display: block;
    margin-left: 160px;
    margin-right: 5px;
}

.div-three-block-one {
    display: block;
}

.text-block-one {
    
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 300;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: #F3F3F3;
        margin-top: 23px;
        margin-bottom: 77px;
       
}

.span-block-one {
    font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 1000;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(188, 26, 26, 0.71);
        
}

.botton-block-one {
    width: 302px; 
    height: 77px; 
     
    padding: 26px 116px 26px 116px; 
    border-radius: 16px; 
    background: rgba(188, 26, 26, 0.2);
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 500;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: left;
       color: rgba(243, 243, 243, 1);
    cursor: pointer;
       
}


.div-title {
    display: flex;
    align-items: center;
    width: 400px;
    height: 156px;
}

.social-block-one {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.number-block-one {
    
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(243, 243, 243, 1);
}

.text-number {
    
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(243, 243, 243, 1);
}

.div-number {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}
/* ---------------------------sector1-------------------------- */
/* ---------------------------sector2-------------------------- */
.block-two {
    /* padding-top: 35px; */
    /* background-color: rgb(8, 58, 41); */
    padding-top: 100px;
    
}

.divone-blocktwo {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 130px;
}

.divtwo-blocktwo {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 220px;
    margin-top: -105px;
}

.div-textone-blocktwo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 406px;
    
}

.div-texttwo-blocktwo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 443px;
}

.title-blocktwo {
    font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(243, 243, 243, 1);
}

.text-blocktwo {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(243, 243, 243, 1);
}

.botton-blocktwo {
    width: 202px; 
    height: 43px;  
    padding: 9px 57px 9px 57px; 
    border-radius: 8px; 
    background: rgba(188, 26, 26, 0.2);
    font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        color: rgba(243, 243, 243, 1);
        cursor: pointer;
}

/* ---------------------------sector2-------------------------- */
/* ---------------------------sector3-------------------------- */
.block-three {
    /* background-color: rgb(0, 43, 28); */
    padding-top: 92px;
    padding-left: 148px;
    padding-bottom: 94px;

}

.text-block-three {
    
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(243, 243, 243, 1);
}
.divone-block-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.divzero-block-three {
    display: flex;
    flex-direction: row;
    gap:100px;
}


/* ---------------------------sector3-------------------------- */
/* ---------------------------sector4-------------------------- */
.block-four {
    /* background-color: rgb(0, 43, 28); */
    padding-top: 31px;
    padding-bottom: 45px;
}

.div-block-four {
    display: flex;
    justify-content: center;
}

/* ---------------------------sector4-------------------------- */
/* ---------------------------sector4-------------------------- */
.footer-container {
    /* background-color: rgb(0, 43, 28); */
    display: flex;
    flex-direction: column;
    padding-left: 85px;
    padding-top: 20px;
}

.div-zero-footer {
    display: flex;
        align-items: center;
        gap: 180px;
}

.div-logo-footer {
    display: block;
    /* background-color: aquamarine; */
}

.div-nav-footer {
    display: block;
    /* background-color: rgb(119, 67, 3); */
}
.list-footer {
display: flex;
flex-direction: column;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding-left: 0;
}

.nav-link-footer {
font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(243, 243, 243, 1);
    text-decoration: none;
}

.div-link-footer {
    display: flex;
    flex-direction: column;
    gap: 45px;
    /* background-color: blue; */
}

.link-footer {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(243, 243, 243, 1);
        
        
}

.image-footer {
    margin-right: 5px;
}

.div-social-footer {
    display: block;
    /* background-color: brown; */
}

.social-footer {
    display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 0;
        margin: 0;
}

.text-footer {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        color: rgba(151, 151, 151, 1);  
}

.link-footer-text {
    
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0px;
        color: rgba(255, 255, 255, 1);
}
/* ---------------------------sector4-------------------------- */